<h1>Results</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="warning">Question</th>
      <th class="warning">Actual Answer</th>
      <th class="warning">Student Answer</th>
      <th class="warning">Level</th>
      <th class="warning">Result</th>
    </tr>
  </thead>
 
 
  <tbody>
    <% @user = User.find(current_user.id) %>
    <% @questions.where(user_id: @user).each do |question| %>
      <% if question.result == true %>
        <% @class = "success" %>
      <% else %>
        <% @class = "danger" %>
      <% end %>
      <tr>
        <td class=<%= @class %>><%= question.question %></td>
        <td class=<%= @class %>><%= question.answer %></td>
        <td class=<%= @class %>><%= question.stdans %></td>
        <td class=<%= @class %>><%= question.level %></td>
        <td class=<%= @class %>><%= question.result %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
