<%= form_for @myscore, :html => { :class => "form-horizontal myscore" } do |f| %>

    <% if @myscore.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@myscore.errors.count, "error") %> prohibited this myscore from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @myscore.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :question, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :question, :class => 'form-control' %>
    </div>
    <%= error_span(@myscore[:question]) %>
  </div>
  <div class="control-group">
    <%= f.label :answer, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :answer, :class => 'form-control' %>
    </div>
    <%= error_span(@myscore[:answer]) %>
  </div>
  <div class="control-group">
    <%= f.label :level, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :level, :class => 'form-control' %>
    </div>
    <%= error_span(@myscore[:level]) %>
  </div>
  <div class="control-group">
    <%= f.label :result, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :result, :class => 'form-control' %>
    </div>
    <%= error_span(@myscore[:result]) %>
  </div>
  <div class="control-group">
    <%= f.label :score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :score, :class => 'form-control' %>
    </div>
    <%= error_span(@myscore[:score]) %>
  </div>
  <div class="control-group">
    <%= f.label :profile_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :profile_id, :class => 'form-control' %>
    </div>
    <%= error_span(@myscore[:profile_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            myscores_path, :class => 'btn btn-default' %>

<% end %>
